@model IEnumerable<EStore.Models.ThuongHieu>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="outer-w3-agile mt-3">
    <h4 class="tittle-w3-agileits mb-4">Danh sách nhân viên</h4>
    <p>
        <a asp-action="Create" class="btn btn-primary">Tạo mới</a>
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.TenHieu)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Hinh)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.TenHieu)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Hinh)
                </td>
                <td scope="row">
                    <a asp-action="Edit" asp-route-id="@item.MaHieu" class="btn btn-success">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MaHieu" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MaHieu" class="btn btn-danger">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>